a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #3e444d;
	border-color: #3e444d;
}

.profile-picture {
	width: 110px;
	height: 110px;
}

.fieldValidationError {
	color: #F40A0A;
	margin-bottom: 0;
}

.wrap-table {
    table-layout: fixed;
    word-wrap: break-word;
}